*{
  box-sizing:border-box;
}


*.header{
  text-align: center;
  font:  Times New Roman;
  color: lavender;
  background-color:lightblue;
  font-size:40px;
}

*.header2{
   text-align: center;
  font: Times New Roman;
  color: pink;
  font-size:40px;

}

*.main{
   text-align: center;
  font: Times New Roman;
  color: blue;
  font-size:30px;
 
}
